# Compiled class files
*.class

# Log files
*.log

# Maven
/target/
maven-archiver/
maven-status/

# IDE
.classpath
.project
.settings/
.idea/
*.iml
*.iws

# Configurations
#application.properties
#application.yml

