<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <!-- Heading & Filters -->
      <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
        
      </div>
      <app-card-product [variavel]="produtos" [lista]="produtos">
    </app-card-product>
      <!-- PAGINATION -->
      <div class="w-full text-center mt-8">
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="onPageChange($event)">
        </app-pagination>
      </div>
    </div>
  </section> 