<nav aria-label="Page navigation">
    <ul class="inline-flex -space-x-px text-base h-10">
      <li>
        <button
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1"
          class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          [class.opacity-50]="currentPage === 1"
          >
          Previous
        </button>
      </li>
      @for (page of pages; track page) {
        <li> 
          <button
            (click)="onPageChange(page)"
            [class.bg-primary-700]="currentPage === page"
            [class.text-white]="currentPage === page"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
            {{ page }}
          </button>
        </li>
      }
      <li>
        <button
          (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          [class.opacity-50]="currentPage === totalPages"
          >
          Next
        </button>
      </li>
    </ul>
  </nav>
  
  