@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

.bg-primary-50 { background-color: #fffbeb; }
.bg-primary-100 { background-color: #fef3c7; }
.bg-primary-200 { background-color: #fde68a; }
.bg-primary-300 { background-color: #fcd34d; }
.bg-primary-400 { background-color: #fbbf24; }
.bg-primary-500 { background-color: #f59e0b; }
.bg-primary-600 { background-color: #d97706; }
.bg-primary-700 { background-color: #b45309; }
.bg-primary-800 { background-color: #92400e; }
.bg-primary-900 { background-color: #78350f; }
.bg-primary-950 { background-color: #451a03; }

.text-primary-50 { color: #fffbeb; }
.text-primary-100 { color: #fef3c7; }
.text-primary-200 { color: #fde68a; }
.text-primary-300 { color: #fcd34d; }
.text-primary-400 { color: #fbbf24; }
.text-primary-500 { color: #f59e0b; }
.text-primary-600 { color: #d97706; }
.text-primary-700 { color: #b45309; }
.text-primary-800 { color: #92400e; }
.text-primary-900 { color: #78350f; }
.text-primary-950 { color: #451a03; }

.font-type-1{
    font-family: 'Rancho', serif;
}
