<app-alert [message]="message" [showAlert]="showAlert" [categAlert]="categAlert" (close)="showAlert = false">
</app-alert>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new product</h2>
        <form action="#" (ngSubmit)="onSubmit()">
            <app-edit-register
                [productName]="productName"
                (productNameChange)="productName = $event"
                [price]="price"
                (priceChange)="price = $event"
                [quantity]="quantity"
                (quantityChange)="quantity = $event"
                [description]="description"
                (descriptionChange)="description = $event"
                [selectedCategory]="category || 'Categoria'" 
                (selectedCategoryChange)="category = $event"
                [categories]="categories">
            </app-edit-register>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Add product
            </button>
        </form>
    </div>
</section>